# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/
media/
!**/media/test/
!**/media/test/images/

# django migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py
