body{
    background-color: #222327;
    margin: 0;
    padding: 0;
    color:#fff;
    font-size:15px;
    font-family: "Noto Sans";
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}



/*Contact
===============*/
.contact{
    display: flex;
}

.contact__right{
    width: 40%;
    height: 600px;

    background: url("../images/room.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.contact__img{
    width: 40%;
    height: 100%;
}

.contact__photo{

}


.contact__left{
    width: 60%;
    height: 100%;


}



.contact__button--text{
    margin-top: 30px;
    color: #fff;
    font-size: 15px;
}

.contact__back{
    display: flex;

}

.contact__link{
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    font-weight: 700;
    letter-spacing: 3px;
    transition: .3s;
}


.intro__nexting{
    fill:#717171;
    margin-top: 30px;
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    margin-left: -10px;
    transition: .3s;
    padding-left: 5px;
}

.contact__link:hover .intro__nexting{
    fill:#e7a007;
}

.contact__title{
    text-align: center;
}

.contact__title--text{
    font-size:50px;
    margin-top: 50px;
    font-weight: 700;
}

.box{
    width: 500px;
    height: auto;
    margin: 0 auto;
}

.box input[type = "text"], .box input[type="email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-bottom: 6px solid #717171;
    padding: 10px 10px;
    width: 500px;
    height: 50px;
    outline: none;
    color:#fff;
    font-size:20px;
    font-weight: 700;
    transition: .3s;
    margin-bottom: 30px;
}




.box input[type = "text"]:focus, .box input[type="email"]:focus{
    border-color: #e7a007;
}

 .box textarea{
    width: 500px;
    border: 0;
    margin:0 auto;
    outline: 0;
    text-align: center;
    justify-content: center;
    background-color: #28292e;
    height: 100px;
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 50px;
}


.box input[type = "submit"]{
    border:0;
    background: #717171;
    display: block;
    margin: 20px auto;
    text-align: center;

    padding:20px 40px;
    font-weight: 700;

    justify-content: center;

    outline: none;
    color:#fff;
    border-radius:30px;
    transition: .3s;
    cursor: pointer;
    margin-bottom: 30px;
}

.box input[type = "submit"]:hover{
    background: #e7a007;

    color: #000;
}
/*Media
===============*/
@media(max-width:823px){
    .contact__right{
        display: none;
    }
    .contact__left{
        width: 100%;
    }
    .contact{
        display: block;
    }
    .box{
        margin: 0;
    }
    .box input[type = "text"], .box input[type="email"] {
        width:300px;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
    }
    .box textarea{
        width: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;

    }
    .box input[type = "submit"]{
        margin: 0;
        margin-left: 30px;
    }
}
@media(max-width:667px){
    .box input[type = "text"], .box input[type="email"] {
        width:300px;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
    }
    .box textarea{
        width: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;

    }
    .box input[type = "submit"]{
        margin: 0;
        margin-left: 30px;
    }
}
