<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog BN</title>
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/blog_index.css' %}">
    <script src="{% static 'blog/js/app2.js' %}"></script>

</head>
<body>

    <svg style="display: none;">
        <symbol id="search" viewBox="0 0 24 24">
            <g> <path  d="M 18.4203 15.58 L 24 21.1597 L 21.1597 24 L 15.58 18.4203 C 13.9925 19.4718 12.0888 20.0841 10.0421 20.0841 C 4.49598 20.0841 0 15.5881 0 10.0421 C 0 4.49598 4.49598 0 10.0421 0 C 15.5881 0 20.0841 4.49598 20.0841 10.0421 C 20.0841 12.0888 19.4718 13.9925 18.4203 15.58 Z M 10.0421 16.0673 C 13.3697 16.0673 16.0673 13.3697 16.0673 10.0421 C 16.0673 6.71441 13.3697 4.01682 10.0421 4.01682 C 6.71441 4.01682 4.01682 6.71441 4.01682 10.0421 C 4.01682 13.3697 6.71441 16.0673 10.0421 16.0673 Z"/>
            </g>
        </symbol>
        <symbol id="next" viewBox="0 0 492.004 492.004" >
            <g>
                <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
                c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
                c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
                c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
            </g>
        </symbol>
    </svg>


    <header class="header">
        <div class="container">
            <div class="header__inner">

                <div class="header__logo">
                    <a class="header__logotype" href="{% url 'blog:index' %}">Blog BN</a>
                </div>

                <nav class="nav">
                    <a class="nav__link" href="{% url 'blog:index' %}">Main</a>
                    <a class="nav__link" href="{% url 'blog:authors' %}">Authors</a>
                    <a class="nav__link" href="{% url 'blog:tags' %}">Tags</a>
                    {% if authenticated %}
                        <a class="nav__link--sign" href="{% url 'blog:my_page' %}">Your page</a>
                    {% else %}
                        <a class="nav__link--sign" href="{% url 'blog:login' %}">Login</a>
                        <a class="nav__link--sign" href="{% url 'blog:sign_up' %}">Sign up</a>
                    {% endif %}
                         <svg class="nav__photosearch">
                            <use xlink:href="#search"> </use>
                        </svg>
                    </a>
                </nav>
                <button class="burger" type="button" id="navToggle" >
                    <span class="burger__item">Menu</span>
                </button>
            </div>
        </div>
    </header>


<div class="fixword">
    <div class="fixword__text">
        Blog from BN
    </div>
</div>

<div class="intro" id="intro">
    <div class="intro__slider" id="introSlider">
        <div class="slick-item">
            <div class="intro__item">
                <div class="intro__photo">
                    <img class="intro__img" src="{{ article1.image.url }}">
                </div>
                <div class="intro__content">
                    <div class="intro__featured">
                        <div class="intro__f">
                            <div class="intro__star">
                                <img class="intro__stars" src="{% static 'blog/images/star.svg' %}" alt="">
                            </div>
                                <div class="intro__featured--text">featured</div>
                        </div>
                    </div>
                    <div class="intro__title"><a class="intro__title--text" href="{% url 'blog:article' article1.author.name article1.name %}">{{ article1.text }}</a></div>
                    <div class="intro__author"><span class="intro__author--b">by</span> <a class="intro__link" href="{% url 'blog:writer' article1.author.name %}">{{ article1.author.name }}</a> <span class="intro__author--sm">{{ article1.pub_date }}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="blogs">
    <div class="container">
        <div class="blog">
            <div class="blogs__item1 bi11">
                <article>
                    <a class="blogs__fon"  href="article.html">
                           <img src="https://placehold.it/250x250" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">The future of         architecture is culture
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Grigory Novikov</a><span class="blogs__s"> 3 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">story</a>
                            </div>
                        </div>
                    </a>
                </article>

            </div>

            <div class="blogs__item2 bi21">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="../images/food.jpg" alt="" class="blogs__img ">
                        <div class="blogs__content ">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">I'm passionate about food, the tradition of it, cooking it, sharing it
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Bogdankov Nikita</a><span class="blogs__s"> 5 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">lifestyle</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item3 bi31">
                <article>
                    <a class="blogs__fon"  href="article.html">
                           <img src="https://placehold.it/250x250" alt="" class="blogs__img bi">
                        <div class="blogs__content bc">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">Architecture belongs to culture, not to civilization
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="#">Grigory Novikov</a><span class="blogs__s"> 2 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">people</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

              <div class="blogs__item3 bi32">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="../images/eye%20children.jpg" alt="" class="blogs__img bi">
                        <div class="blogs__content bc">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">Look at life with the eyes of a child
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Grigory Novikov</a><span class="blogs__s"> 2 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">people</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item3 bi33">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="../images/table.jpg" alt="" class="blogs__img bi">
                        <div class="blogs__content bc">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">I think it's the responsibility of a designer to try to break rules and barriers
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Bogdankov Nikita</a><span class="blogs__s"> 10 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">Design</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item1 bi12">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="../images/snowcity.jpg" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">Every day, in every city and town across the country
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Bogdankov Nikita</a><span class="blogs__s"> 7 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">education</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item1 bi13">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="https://placehold.it/250x250" alt="" class="blogs__img">
                        <div class="blogs__content ">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">Education is the transmission of civilization
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Bogdankov Nikita</a><span class="blogs__s"> 16 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">education</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item1 bi14">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="../images/girloran.jpg" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">Pop culture is a reflection
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Novikov Grigory</a><span class="blogs__s"> 1 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">culture</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item2 bi22">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="../images/oldman.jpg" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">The creation of beauty is art
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Novikov Grigory</a><span class="blogs__s"> 6 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">story</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item1 bi15">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="https:placehold.it/250x250" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">You must grow like a tree
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Bogdankov Nikita</a><span class="blogs__s"> 3 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">lifestyle</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item1 bi16">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="../images/music.jpg" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">The true beauty of music is that it connects people
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Bogdankov Nikita</a><span class="blogs__s"> 8 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">people</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item2 bi23">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="../images/ceiling.jpg" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">I cannot look at modern buildings without thinking of historical ones
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Bogdankov Nikita</a><span class="blogs__s"> 23 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">architecture</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item2 bi24">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="../images/street.jpg" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">Change is always happening
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Grigory Novikov</a><span class="blogs__s"> 15 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">culture</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item1 bi17">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="https:/placehold.it/250x250" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">Everything has beauty, but not everyone sees it
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Grigory Novikov</a><span class="blogs__s"> 1 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">story</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

             <div class="blogs__item4 bi41">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="../images/way.jpg" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">The sky perfectly blended into the beautiful landscape
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Bogdankov Nikita</a><span class="blogs__s"> 6 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">nature</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item4 bi42">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="../images/forestway.jpg" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">The journey of a thousand miles
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Bogdankov Nikita</a><span class="blogs__s"> 8 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">Journey</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item1 bi18" id="bi18">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="https://placehold.it/250x250" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">When you are on your way to home
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Grigory Novikov</a><span class="blogs__s"> 5 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">story</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item1 bi19" id="bi19">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="../images/architecture.jpg" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">Architecture is a visual art, and the buildings speak for themselves
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Grigory Novikov</a><span class="blogs__s"> 21 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">architecture</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item1 bi110" id="bi110">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="../images/japan.jpg" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">I love Japan, and Tokyo is my favorite city
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Bogdankov Nikita</a><span class="blogs__s"> 28 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">story</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item4 bi43" id="bi43">
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="https://placehold.it/250x250" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">A mind cannot be independent of culture
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Bogdankov Nikita</a><span class="blogs__s"> 4 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">Education</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item4 bi44" id="bi44" >
                <article>
                    <a class="blogs__fon"  href="article.html">
                       <img src="https://placehold.it/250x250" alt="" class="blogs__img">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="article.html">    <h2 class="blogs__text">A mind cannot be independent of culture
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="user_public.html">Bogdankov Nikita</a><span class="blogs__s"> 10 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="tag.html">story</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer__footer">
            <div class="footer__col">
                <div class="footer__logo">
                    <a class="header__logotype" href="">Blog BN</a>
                </div>
            </div>
            <<div class="footer__col">
                <a class="nav__link" href="{% url 'blog:index' %}">Main</a>
                <a class="nav__link" href="{% url 'blog:authors' %}">Authors</a>
                <a class="nav__link" href="{% url 'blog:tags' %}">Tags</a>
            </div>
        </div>
        <div class="copyright">
            <div class="copy__text">
                ©  2020 B&K. All Rights Reserved
            </div>
            <div class="copyright__author">
                <span class="copy__text">Made by</span>  Bogdankov Nikita <span class="copy__text"> and </span> Grigory Novikov
            </div>
        </div>
    </div>
</footer>

<!--JavaScript-->
<script src="{% static 'js/app2.js' %}"></script>

</body>
</html>
