<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/article.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'blog:index' %}" class="to_index"><h1>Blog</h1></a>
    </header>
    <div class="main">
        <div class="article_name">
            <h2>{{ name }}</h2>
        </div>
        <div class="author_name">
            <p>Author: {{ author.name }}</p>
        </div>
        <div class="text_place">
            <div class="text">
                <span>{{ text }}</span>
            </div>
        </div>
        <div class="height_stick"></div>
        <div class="pub_date">
            <span>{{ pub_date }}(last edit: {{ last_edit }})</span>
        </div>
        <span>Tag: {{ tag.name }}</span>
        <div class="comments">
            {% for comment in comments %}
            <div class="comment">
                <span>{{comment.author}}</span><br>
                <span class="text">{{comment.text}}</span><br>
                <span>{{comment.comment_date}}</span><br>
                <br>
            </div>
            {% endfor %}
        </div>
        <form action="{% url 'blog:my_article' name %}" method='post'>
            {% csrf_token %}
            {{ form1 }}
            <input type='submit' value='delete'>
        </form>
        <form action="{% url 'blog:my_article' name %}" method='post'>
            {% csrf_token %}
            {{ form2 }}
            <input type='submit' value='edit'>
        </form>
    </div>
    <footer>
        <h1>Blog</h1>
    </footer>
</body>
</html>
