<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog BN</title>
    <meta name="google" content="notranslate" />
    <link rel="stylesheet" href="../css/add.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

 <svg style="display: none;">
        <symbol id="search" viewBox="0 0 24 24">
            <g> <path  d="M 18.4203 15.58 L 24 21.1597 L 21.1597 24 L 15.58 18.4203 C 13.9925 19.4718 12.0888 20.0841 10.0421 20.0841 C 4.49598 20.0841 0 15.5881 0 10.0421 C 0 4.49598 4.49598 0 10.0421 0 C 15.5881 0 20.0841 4.49598 20.0841 10.0421 C 20.0841 12.0888 19.4718 13.9925 18.4203 15.58 Z M 10.0421 16.0673 C 13.3697 16.0673 16.0673 13.3697 16.0673 10.0421 C 16.0673 6.71441 13.3697 4.01682 10.0421 4.01682 C 6.71441 4.01682 4.01682 6.71441 4.01682 10.0421 C 4.01682 13.3697 6.71441 16.0673 10.0421 16.0673 Z"/>
            </g>
        </symbol>
    </svg>

<header class="header">
    <div class="container">
        <div class="header__inner">

            <div class="header__logo">
                    <a class="header__logotype" href="#">Blog BN</a>
            </div>

            <nav class="nav">
                <a class="nav__link" href="blog_index.html">Main</a>
                <a class="nav__link" href="contact.html">Contact</a>
                <a class="nav__link" href="authors.html">Authors</a>
                <a class="nav__link" href="tags.html">Tags</a>
                <a class="nav__link--sign" href="sign_in.html">Sign in</a>
                <a class="nav__link--sign" href="sign_up.html">Sign up</a>
                <a class="nav__link--sign" href="add.html">Your page</a>
                <a class="nav__photo" href="#">
                    <svg class="nav__photosearch">
                        <use xlink:href="#search"> </use>
                    </svg>
                </a>
            </nav>
        </div>
    </div>
</header>

<div class="fixword">
    <div class="fixword__text">
        Blog from BN
    </div>
</div>

<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <div class="intro__left">

                <div class="intro__photo">
                    <img src="https://placehold.it/250x250" alt="" class="intro__img">
                </div>

                <form class="boxx" id="boxx" action="add.html" method="post">
                    <input id="inpu" type=hidden name=MAX_FILE_SIZE value=64000>
                    <input  id="af" name=avatarfile type=file>
                    <iframe id="hf" name="hiddenframe" style="width:0px; height:0px; border:0px"></iframe>
                    <input id="ib" type="submit" name="" value="Save">

                </form>
            </div>

            <div class="intro__right">
                <div class="intro__name">Bogdankov Nikita</div>
                <div class="intro__age" id="age">16 years old</div>
                <div class="intro__text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore hic doloribus, obcaecati quidem sit nam est nobis nesciunt ex similique repellendus animi. Doloribus, labore esse vel obcaecati architecto dolores eaque cumque neque officiis veritatis iste, numquam voluptate, totam alias eligendi cupiditate aliquid temporibus natus. Doloribus facilis quibusdam rem, dolores odit modi consequuntur excepturi neque asperiores autem. Iure, doloribus eveniet est obcaecati sunt itaque mollitia aperiam impedit beatae architecto tenetur repudiandae pariatur quaerat accusantium cum dolores ad nemo voluptates qui!</div>




            </div>
        </div>
    </div>
</div>

<div class="blogs">
    <div class="container">
        <div class="blog">
            <div class="blogs__title">Blogs</div>
            <div class="blogs__list">

                <div class="blogs__item1 bi1">
                    <article>
                        <a class="blogs__fon"  href="#">
                            <div class="blogs__content">
                                <a class="blogs__texting" href="#">    <h2 class="blogs__text">I'm passionate about food, the tradition of it, cooking it, sharing it
                                </h2>
                                </a>
                                <div class="blogs__auth">
                                   <span class="blogs__s">by</span> <a class="blogs__author" href="#">Bogdankov Nikita</a><span class="blogs__s"> 5 days ago</span>
                                </div>
                                <div class="blogs__btn">
                                <a class="blogs__btn--btn" href="#">lifestyle</a>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>

                <div class="blogs__item2 bi2">
                    <article>
                    <a class="blogs__fon"  href="#">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="#">    <h2 class="blogs__text">Every day, in every city and town across the country
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="#">Bogdankov Nikita</a><span class="blogs__s"> 7 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="#">education</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="blogs__item2 bi3">
                <article>
                    <a class="blogs__fon"  href="#">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="#">    <h2 class="blogs__text">Education is the transmission of civilization
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="#">Bogdankov Nikita</a><span class="blogs__s"> 16 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="#">education</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

                <div class="blogs__item1 bi4">
                <article>
                    <a class="blogs__fon"  href="#">
                        <div class="blogs__content">
                            <a class="blogs__texting" href="#">    <h2 class="blogs__text">I think it's the responsibility of a designer to try to break rules and barriers
                                </h2>
                            </a>
                            <div class="blogs__auth">
                               <span class="blogs__s">by</span> <a class="blogs__author" href="#">Bogdankov Nikita</a><span class="blogs__s"> 10 days ago</span>
                            </div>
                            <div class="blogs__btn">
                            <a class="blogs__btn--btn" href="#">Design</a>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
            </div>
        </div>
    </div>
</div>



<footer class="footer">
    <div class="container">
        <div class="footer__footer">
            <div class="footer__col">
                <div class="footer__logo">
                    <a class="header__logotype" href="#">Blog BN</a>
                </div>
            </div>
            <div class="footer__col">
                <a class="nav__link" href="blog_index.html">Main</a>
                <a class="nav__link" href="contact.html">Contact</a>
                <a class="nav__link" href="authors.html">Authors</a>
                <a class="nav__link" href="tags.html">Tags</a>
            </div>
            <div class="footer__col">
                <div class="footer__icon">
                    <a href="#">
                        <div>
                            <img class="footer__iconph" src="../images/icon.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copy__text">
                ©  2020 B&K. All Rights Reserved
            </div>
            <div class="copyright__author">
                <span class="copy__text">Made by</span>  Bogdankov Nikita <span class="copy__text"> and </span> Grigory Novikov
            </div>
        </div>
    </div>
</footer>


<!--JavaScript-->
<script src="../js/app.js"></script>


</body>
</html>
